<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" /></configSections>
  <appSettings>
    <add key="AdminLoginID" value="admin" />
    <add key="MoeLoginID" value="moe" />
    <add key="AdminPassword" value="admin555" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="milanmason76_api1.gmail.com" />
    <add key="Password" value="BNPFFKN5LNGT9JJ3" />
    <add key="Token" value="AFcWxV21C7fd0v3bYYYRCpSSRl31ADTjreDC8J5s6aeP6EKGV3FveGc4" />
    <add key="Port" value="587" />
    <!--<add key="Token" value="access_token$sandbox$gtmzff73sgj79gry$db2bb556199a7b9446957e57bf0ea7aa" />-->
    <add key="PaypalEmail" value="milanmason76@gmail.com" />
    <add key="PaypalSubmitURL" value="https://www.paypal.com/cgi-bin/webscr" />
    <add key="FailedURL" value="http://localhost:3638/Default.aspx" />
    <add key="SuccessURL" value="OrderTemplate.htm" />
  </appSettings>
  <connectionStrings>
    <add name="MyConn" connectionString="Data Source=tcp:tyreshop.database.windows.net,1433;Initial Catalog=ShoppingCartDB2;Persist Security Info=False;User ID=milanmason76;Password=Milan1976;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="ShoppingCartDBConnectionString" connectionString="Data Source=tyreshop.database.windows.net;Initial Catalog=ShoppingCartDB2;Persist Security Info=True;User ID=milanmason76;Password=Milan1976" providerName="System.Data.SqlClient" />
    <add name="ShoppingCartDB1ConnectionString" connectionString="Data Source=tyreshop.database.windows.net;Initial Catalog=ShoppingCartDB2;Persist Security Info=True;User ID=milanmason76;Password=Milan1976;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="ShoppingCartDB2ConnectionString" connectionString="Data Source=tyreshop.database.windows.net,1433;Initial Catalog=ShoppingCartDB2;Persist Security Info=True;User ID=milanmason76;Password=Milan1976" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  <httpHandlers>
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		</httpHandlers><sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" /><pages enableSessionState="true">
			<controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
			</controls>
		</pages></system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="BotDetectCaptchaHandler" />
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		</handlers>
	</system.webServer><botDetect helpLinkEnabled="true" helpLinkMode="image" /></configuration>